<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <section>
        <span>Username: </span>
        <input type="text" id="username" name="username" />
    </section>
    <section>
        <span>File:</span>
        <input type="file" id="file" name="file"/>
    </section>
    <button id="submit">Submit</button>

  </body>
  <script type="text/javascript" src="/javascripts/xhr.js"></script>
<script type="text/javascript">
    var ajax = new xhr(),
        formData = new FormData();

    function log(msg){
        var div = document.createElement("div");
        div.textContent = msg.toString();
        document.body.appendChild(div);
    }

    document.addEventListener('load', function(){
        var input = document.getElementById('file');
        input.addEventListener('change', function(){
            var file = this.files[0];
            if(! file) return;

            var name = file.name,
                size = file.size,
                type = file.type;

            var data = {
                username : username,
                file : file
            };

            if(/\.(gif|jpe?g|png)/.test(file.name)){
                ajax.postFormData("/upload", data, function(data){
                    log(data);
                });
            }
        }, false);
    },false);
</script>
</html>
